<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thibkphp的小书（不负责任）</title>
</head>

<body>
    <div id="root"></div>
    
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <!-- <script src="__STATIC__/js/vue.js"></script> -->
    <script src="__STATIC__/js/commons.bundle.js"></script>
    <link rel="stylesheet" href="__STATIC__/js/book/book.css">
    <script src="__STATIC__/js/book/book.js"></script>
</body>

</html>